
*{
    font-family: sans-serif;
    text-align: center;
    
}

h3{
    color: rgb(140, 48, 163);
    margin-top: 50px;
}

button, input, label, option, select {
    background-color: white;
    align-items: center;
}



